  <% if !@property.errors.empty? %>
    <ul>
      <% @property.errors.each do |attr,message| %>
        <li><%= attr %>&nbsp;<%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div id="property_descr">
    <div>
      <span style="margin-right: 30px;">Property Name:</span>
      <span><%= f.text_field :property_name %></span>
    </div>

    <div>
      <span style="margin-right: 28px;">Property Listing:</span>
      <span><%=f.select :property_listing, options_for_select(["For Sale","For Rent","For Sale or Rent"]) %></span>
    </div>

    <div>
      <span style="margin-right: 37px;">Property Type:</span>
      <span><%=f.select :property_type, options_for_select([["Select" ,""],["Apartment","Apartment"],["Villa","Villa"],["Row House","Row House"],["Layout","Layout"]],:selected => f.object.property_type) %></span>
    </div>

    <div id="flats">
      <span style="margin-right: 62px;">No of flats:</span>
      <span><%=f.select :no_of_flats, options_for_select(["1BHK","2BHK","3BHK","4BHK","5BHK","6BHK","7BHK","8BHK"]) %></span>
    </div>

    <div id="floors">
      <span style="margin-right: 53px;">No of floors:</span>
      <span><%=f.select :no_of_floors, options_for_select(1..50) %></span>
    </div>

    <div id="houses">
      <span style="margin-right: 40px;">No of Houses:</span>
      <span><%=f.select :no_of_houses, options_for_select(1..50) %></span>
    </div>

    <div id="plots">
      <span style="margin-right: 57px;">No of Plots:</span>
      <span><%=f.select :no_of_plots, options_for_select(1..50) %></span>
    </div>

    <div>
      <span style="margin-right: 25px;">Total Area(SQF):</span>
      <span><%=f.text_field :total_area %></span>
    </div>

    <div>
      <span style="margin-right: 05px;">SaleableArea(SQF):</span>
      <span><%=f.text_field :saleable_area %></span>
    </div>

    <div>
      <span style="margin-right: 62px;">Sale Price:</span>
      <span><%=f.text_field :sale_price %></span>
    </div>

    <div>
      <span style="margin-right: 55px;">Description:</span>
      <span><%=f.text_area :description, :rows => 2, :cols => 5 %></span>
    </div>

    <div style="margin-bottom: 14px;">
      <span style="margin-right: 24px;">Remaining Area:</span>
      <span><%= f.check_box :parking %>Parking</span>
      <span style="margin-left: 70px;"><%= f.check_box :swimming %>Swimming</span><br/>
      <span style="margin-left: 134px"><%= f.check_box :playground %>Playground</span>
      <span style="margin-left: 47px;"><%= f.check_box :party_hall %>Party hall</span>
    </div>
  </div>  

  <div id="body_property">
    <div>
      <span style="margin-right: 25px;">Property Status:</span>
      <span><%=f.select :property_status,options_for_select([["Select",""],['Ongoing',"Ongoing"],['Ready To Move','Ready To Move'],['Upcoming','Upcoming']], :selected => f.object.property_status) %></span>
    </div>

    <div id="start">
      <span style="margin-right: 60px;">Project Start Date:</span>
      <span><%=f.date_select :start_date %></span>
    </div>

    <div id="end">
      <span style="margin-right: 19px;">Project Completion Date:</span>
      <span><%=f.date_select :end_date %></span>
    </div>

    <div id="upcoming">
      <span style="margin-right: 25px;">Project Upcoming Date:</span>
      <span><%=f.date_select :upcoming_date %></span>
    </div>
  </div>

  <div id="img">
    <h4>Upload Images For Your Properties</h4>
    <div style="margin-bottom: 20px;">
      <%= f.fields_for :images, :html => {:multipart => true} do |builder| %>
        <%= builder.file_field :image %>
      <% end %>  
      <br/>
      <div style="margin: 10px 0px">
        <%= link_to_add_fields "Upload More Images", f,:images %> 
      </div>
    </div>       
  </div>

  <div id="body_addr">
    
    <div>
      <span style="margin-right: 92px;">State:</span>
      <span><%=f.text_field :state %></span>
    </div>

    <div>
      <span style="margin-right: 102px;">City:</span>
      <span><%=f.text_field :city %></span>
    </div>

    <div>
      <span style="margin-right: 74px;">Address:</span>
      <span><%=f.text_area :address,:rows => 2, :cols => 4 %></span>
    </div>

    <div>
      <span style="margin-right: 49px;">Postal Code:</span>
      <span><%=f.text_field :zip_code %></span>
    </div>


  </div>


    <div id="submit" style="margin: 40px 0px">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>


<span id="ns" style="margin-right: 20px;">
  <%= link_to_function image_tag('nt.jpg'), "steps();" %>
</span>

<span id="nt" style="margin-right: 20px;">
  <%= link_to_function image_tag('nt.jpg'), "stept();" %>
</span>

<span id="nf" style="margin-right: 20px;">
  <%= link_to_function image_tag('nt.jpg'), "stepf();" %>
</span>

<span id="bf">
  <%= link_to_function image_tag('bk.jpg'), "step1();" %>
</span>

<span id="bs">
  <%= link_to_function image_tag('bk.jpg'), "steps();" %>
</span>

<span id="bt">
  <%= link_to_function image_tag('bk.jpg'), "stept();" %>
</span>

<script>
  $(document).ready(function() {
    $('#start').hide();
    $('#end').hide();
    $('#upcoming').hide();

    $('#property_property_status').live("change", function() {
      if ($('#property_property_status').val() == "Ongoing") {
        $('#start').show();
        $('#end').show();
        $('#upcoming').hide();
      }
      else if ($('#property_property_status').val() == "Ready To Move") {
        $('#start').hide();
        $('#end').show();
        $('#upcoming').hide();
      }
      else if ($('#property_property_status').val() == "Upcoming") {
        $('#start').hide();
        $('#end').hide();
        $('#upcoming').show();
      }
      else {
        $('#start').hide();
        $('#end').hide();
        $('#upcoming').hide();
      }
    })
  })

  $(document).ready(function() {
    $('#flats').hide();
    $('#floors').hide();
    $('#houses').hide();
    $('#plots').hide();

    $('#property_property_type').live("change", function() {
      if ($('#property_property_type').val() == "Apartment") {
        $('#flats').show();
        $('#floors').show();
        $('#houses').hide();
        $('#plots').hide();
      }
      else if ($('#property_property_type').val() == "Villa") {
        $('#flats').hide();
        $('#floors').show();
        $('#houses').show();
        $('#plots').hide();
      }
      else if ($('#property_property_type').val() == "Row House") {
        $('#flats').hide();
        $('#floors').show();
        $('#houses').show();
        $('#plots').hide();
      }
      else if ($('#property_property_type').val() == "Layout") {
        $('#flats').hide();
        $('#floors').hide();
        $('#houses').hide();
        $('#plots').show();
      }
      else {
        $('#flats').hide();
        $('#floors').hide();
        $('#houses').hide();
        $('#plots').hide();
      }
    })
  })

  $(document).ready(function() {
    $('#img').hide();
    $('#body_addr').hide();
    $('#property_descr').show();
    $('#body_property').show();
    $('#submit').hide();

    $('#step1').show();
    $('#step2').hide();
    $('#step3').hide();
    $('#step4').hide();

    $('#ns').show();
    $('#nt').hide();
    $('#nf').hide();

    $('#bf').hide();
    $('#bs').hide();
    $('#bt').hide();
  })
  
  function step1() {
    $('#img').hide();
    $('#body_addr').hide();
    $('#property_descr').show();
    $('#body_property').show();
    $('#submit').hide();

    $('#step1').show();
    $('#step2').hide();
    $('#step3').hide();
    $('#step4').hide();

    $('#ns').show();
    $('#nt').hide();
    $('#nf').hide();

    $('#bf').hide();
    $('#bs').hide();
    $('#bt').hide();
  }

  function steps() {
    $("#img").show();
    $("#body_addr").hide();
    $('#property_descr').hide();
    $('#body_property').hide();
    $('#submit').hide();

    $('#step1').hide();
    $('#step2').show();
    $('#step3').hide();
    $('#step4').hide();

    $('#ns').hide();
    $('#nt').show();
    $('#nf').hide();

    $('#bf').show();
    $('#bs').hide();
    $('#bt').hide();
  }

  function stept() {
    $("#img").hide();
    $("#body_addr").show();
    $('#property_descr').hide();
    $('#body_property').hide();
    $('#submit').hide();

    $('#step1').hide();
    $('#step2').hide();
    $('#step3').show();
    $('#step4').hide();

    $('#ns').hide();
    $('#nt').hide();
    $('#nf').show();

    $('#bf').hide();
    $('#bs').show();
    $('#bt').hide();
  }

  function stepf() {
    $("#img").hide();
    $("#body_addr").hide();
    $('#property_descr').hide();
    $('#body_property').hide();
    $('#submit').show();

    $('#step1').hide();
    $('#step2').hide();
    $('#step3').hide();
    $('#step4').show();

    $('#ns').hide();
    $('#nt').hide();
    $('#nf').hide();

    $('#bf').hide();
    $('#bs').hide();
    $('#bt').show();
  }
</script>