<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @property.builder.email %></h1>
    <h4>Please check user details who want to enquiry your property</h4>
    <% if @contact.contact_option == '1' %>
    <p>
      Contact Name : <%= @contact.name if @contact.name.present? %>
    </p>
    <p>      
      Contact Email: <%= @contact.email if @contact.email.present?%>.<br/>
    </p>
    <p>Phone: <%= @contact.phone if @contact.phone.present?%></p>
    <p>
      Query: <%= @contact.question if @contact.question.present? %>
    </p>
    
    <% end %>
    <% if @contact.contact_option == '2' %>
    <p>
      Contact Name : <%= @contact.name if @contact.name.present? %>
    </p>
    <p>      
      Contact Email: <%= @contact.email if @contact.email.present?%>.<br/>
    </p>
    <p>Phone: <%= @contact.phone if @contact.phone.present?%></p>
    <p>
      Query: <%= @contact.question if @contact.question.present? %>
    </p>
    <p>
      Appointment Time: <%= @contact.appointment_time if @contact.appointment_time.present? %>
    </p>
    <% end %>
    <% if @contact.contact_option == '3' %>
    <p>
      Contact Name : <%= @contact.name if @contact.name.present? %>
    </p>
    <p>      
      Contact Email: <%= @contact.email if @contact.email.present?%>.<br/>
    </p>
    <p>Phone: <%= @contact.phone if @contact.phone.present?%></p>
    <% end %>
    <p>Thanks for joining and have a great day! RealEstate Team</p>
  </body>
</html>